#root {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#task-list {
  width: 80%;
  margin: auto;
}

#detail-page {
  width: 90%;
  background-color: azure;
  padding: 10% 10% 10% 10%;
  margin: auto;
}

h1 {
  color: darkorchid;
}

ul {
  list-style-type: circle;
  font-size: large;
  text-align: left;
}